// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  margin-top:75px;
}

img {
	width:100%;
  height:250px;
}

.center {
	text-align:center;
}

.navbar-inverse {
    background-color: #283593;
    border-color: #283593;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-brand{
  color: #fff;	
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	color: #fff;
  background-color: #3f51b5;
}
#about_us p{
	font-size: 20px;
	padding: 10px 30px;
}

.profile_img {
  width:300px;
  border-radius: 20px;
  border: 5px solid grey;
}

.each-car {
  border: 1px solid teal;
  border-radius:10px;
  margin: 20px;
}
.star img{
  width: 5%;
  height: 5%;
}